<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>



  <connectionStrings>
    <add name="smliigadb" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\SMLiiga2011.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <system.web>

    <authentication mode="Forms">
      <forms loginUrl="~/G2700_wanhatautot_auth.aspx" name=".ASPXAUTH" slidingExpiration="true" timeout="1440"
             path="/" defaultUrl="~/g2700_wanhatautot_crud.aspx">
        <credentials passwordFormat="Clear">
          <user name="Jinta-Rouppi" password="rinta-jouppi"/>
        </credentials>
      </forms>
    </authentication>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="ika" value="35" />
    <add key="palkka" value="3000" />
    <add key="backgroundColor" value="#057ab5"/>
  </appSettings>
</configuration>